@import url(https://fonts.google.com/specimen/Ubuntu#:~:text=%27https%3A//fonts.googleapis.com/css2%3F%20family%3D%20Signika%2BNegative%3Awght%40300%20%26%20family%3D%20Ubuntu%3Awght%40300%3B400%20%26%20display%3Dswap%27);

$color-1: #138d75;
$color-2: #1abc9c;
$color-3: #a3e4d7;
$color-4: #0e6251;
$color-5: #bdc3c7;
$color-6: #ecf0f1;