@use "variables";
@import url('https://fonts.googleapis.com/css2? family=Kumbh+Sans:wght@400;700&display=swap');


h1{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
    font-weight: 700;
    &:hover{
        cursor: pointer;
        color: variables.$color-1;
    }
}

div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 variables.$color-1, 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 300px;
    cursor: pointer;
}

div.galeria img{
    //border: 1px solid black;
    width: 100%;
    height: 250px;
}

div.galeria:hover{
    border: 1px solid black;
    transform: rotate(-3deg);
    cursor: pointer;
}

div.piedefoto{
    text-align: center;
    text-shadow: 2px 2px 5px variables.$color-6;
}

.titulo{
    font-weight: 700;
}

.descripcion{
    font-weight: 400;
}

.descripcionprincipal{
    justify-content: center;
    text-align: center;
}

