@import url("https://fonts.googleapis.com/css2? family=Kumbh+Sans:wght@400;700&display=swap");
h1 {
  color: white;
  text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
  text-align: center;
  font-weight: 700;
}
h1:hover {
  cursor: pointer;
  color: #b2babb;
}

div.galeria {
  margin: 10px 20px;
  box-shadow: 0 4px 8px 0 #b2babb, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  width: 300px;
  cursor: pointer;
}

div.galeria img {
  width: 100%;
  height: 250px;
}

div.galeria:hover {
  border: 1px solid black;
  transform: rotate(-3deg);
  cursor: pointer;
}

div.piedefoto {
  text-align: center;
  text-shadow: 2px 2px 5px #616a6b;
}

.titulo {
  font-weight: 700;
}

.descripcion {
  font-weight: 400;
}

.descripcionprincipal {
  justify-content: center;
  text-align: center;
}

.content {
  align-items: center;
  justify-content: center;
  font-size: 400;
  border: 1px solid #99a3a4;
}

.link {
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

.gallery {
  padding: 10px;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}

.v-stretch {
  grid-row: span 2;
}

.h-stretch {
  grid-column: span 2;
}

.big-stretch {
  grid-row: span 2;
  grid-column: span 2;
}

.gallery div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 560px) {
  .v-stretch {
    grid-row: span 1;
  }
  .h-stretch {
    grid-column: span 1;
  }
  .big-stretch {
    grid-column: span 1;
    grid-row: span 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3 rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 10vw;
  padding: 20px 0;
  text-align: center;
  border: 1px solid white;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  left: 300px;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.carousel-inner {
  margin-bottom: 40px;
}

body {
  background-color: #b2babb;
}

header {
  z-index: 100;
}

.description {
  height: 25px;
  overflow: hidden;
  transition: height 0.3s ease-in 0.3s;
}

.description:hover {
  height: 80px;
}

.carrito {
  min-height: 81vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.table__productos {
  display: flex;
}

.table__productos > img {
  width: 9rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}

.table__cantidad > input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}

.main-container {
  width: 375px;
  margin: auto;
  position: relative;
  background-color: white;
  margin-top: 20px;
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
  }
}/*# sourceMappingURL=styles.css.map */